.footer {
    background-color: rgb(23, 35, 55);
    width: 100%;
    color: white;
    margin-top: -10px;
    /* height: 50px; */
}

.footer__info {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(245, 3, 3); */
    margin: 0 40px;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 30px;
}

.footer__infoHeading {
    color: gray;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer__mailUs {
    margin-left: 130px;
    margin-right: -30px;
    /* border: 1px solid red; */
    border-left: 1px solid rgba(255, 255, 255, 0.288);
    padding-left: 30px;
}

.footer__mailUs,
.footer__address {
    line-height: 5px;
}

.footer__payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.288);
    padding-top: 30px;
}

.footer__payment p span {
    padding-right: 8px;
    color: rgb(255, 191, 0);
}

@media (max-width: 500px) {
    .footer {
        height: auto;
    }
    .footer__info {
        display: grid;
        /* grid-template-columns: repeat(2, minmax(100px, min-content)); */
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__mailUs {
        margin-left: -65px;
        border-left: none;
        margin-right: none;
        /* border: 1px solid red; */
        padding-right: 0;
        /* place-self: center; */
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        border-top: 0.5px solid #fff;
        padding-bottom: 5px;
        margin-top: 10px;
    }
    .footer__address {
        border-left: none;
        margin-right: none;
        /* border: 1px solid red; */
        padding-right: 0;
        /* place-self: center; */
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        border-top: 0.5px solid #fff;
    }
    .footer__payment {
        display: grid;
        /* grid-template-columns: repeat(2, minmax(100px, min-content)); */
        grid-template-columns: repeat(auto-fit, 1fr);
        place-items: center;
        padding-bottom: 25px;
    }
    .copyRight {
        grid-row-start: 6;
        grid-row-end: 7;
        padding-top: 25px;
    }
}